
{% load static %}

<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>
            System
          </title>

          <link rel="shortcut icon" href="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- App favicon -->
        <link rel="shortcut icon" href="">
        <meta name="csrf-token" content="{{ csrf_token }}">

        {% include 'partials/css.html' %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <style>
          .video-container {
            display: flex;
            justify-content: center;
            padding: 20px;
          }
        </style>

        {% block css %}


          {% endblock css %}


    </head>
    <body>


        {% block content %}


        {% endblock content %}


        {% include 'partials/javascript.html' %}

        {% block js %}

        {% endblock js %}
    </body>
    </html>
